<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="padding: 20px; min-height: 100vh;">
    <div>
      <h3>大小</h3>
      <h1>标题h1.h1</h1>
      <h2>标题h2.h2</h2>
      <h3>标题h3.h3</h3>
      <h4>标题h4.h4</h4>
      <h5>标题h5.h5</h5>
      <h6>标题h6.h6</h6>
      <h6>大小</h6>
      <hr />
      <h3>文字颜色</h3>
      <div class="ui-fg-glod-deep">文字颜色</div>
      <div class="ui-fg-gold">文字颜色</div>
      <div class="ui-fg-glod-light">文字颜色</div>
      <div class="ui-fg-green">文字颜色</div>
      <div class="ui-fg-yellow">文字颜色</div>
      <div class="ui-fg-red">文字颜色</div>
      <div class="ui-fg-blue">文字颜色</div>
      <div class="ui-fg-pink">文字颜色</div>
      <div class="ui-fg-gray-1">文字颜色</div>
      <div class="ui-fg-gray-2">文字颜色</div>
      <div class="ui-fg-gray-3">文字颜色</div>
      <div class="ui-fg-brown">文字颜色</div>
      <div class="ui-fg-bg-1">文字颜色</div>
      <div class="ui-fg-bg-2">文字颜色</div>
      <div class="ui-fg-bg-3">文字颜色</div>
      <div class="ui-fg-bg-4">文字颜色</div>
      <div class="ui-fg-bg-5">文字颜色</div>
      <div class="ui-fg-bg-6">文字颜色</div>
      <div class="ui-fg-bg-7">文字颜色</div>
      <div class="ui-fg-white">文字颜色</div>
      <div class="ui-fg-black">文字颜色</div>
      <div class="ui-fg-body-bg">文字颜色</div>
      <h3>背景色</h3>
      <div style="clear: both;"></div>
      <div class="ui-bg-glod-deep" style="height: 40px; width: 100px; float: left;">.ui-bg-glod-deep</div>
      <div class="ui-bg-gold" style="height: 40px; width: 100px; float: left;">.ui-bg-gold</div>
      <div class="ui-bg-glod-light" style="height: 40px; width: 100px; float: left;">.ui-bg-glod-light</div>
      <div class="ui-bg-green" style="height: 40px; width: 100px; float: left;">.ui-bg-green</div>
      <div class="ui-bg-yellow" style="height: 40px; width: 100px; float: left;">.ui-bg-yellow</div>
      <div class="ui-bg-red" style="height: 40px; width: 100px; float: left;">.ui-bg-red</div>
      <div class="ui-bg-blue" style="height: 40px; width: 100px; float: left;">.ui-bg-blue</div>
      <div class="ui-bg-pink" style="height: 40px; width: 100px; float: left;">.ui-bg-pink</div>
      <div class="ui-bg-gray-1" style="height: 40px; width: 100px; float: left;">.ui-bg-gray-1</div>
      <div class="ui-bg-gray-2" style="height: 40px; width: 100px; float: left;">.ui-bg-gray-2</div>
      <div class="ui-bg-gray-3" style="height: 40px; width: 100px; float: left;">.ui-bg-gray-3</div>
      <div class="ui-bg-brown" style="height: 40px; width: 100px; float: left;">.ui-bg-brown</div>
      <div class="ui-bg-bg-1" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-1</div>
      <div class="ui-bg-bg-2" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-2</div>
      <div class="ui-bg-bg-3" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-3</div>
      <div class="ui-bg-bg-4" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-4</div>
      <div class="ui-bg-bg-5" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-5</div>
      <div class="ui-bg-bg-6" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-6</div>
      <div class="ui-bg-bg-7" style="height: 40px; width: 100px; float: left;">.ui-bg-bg-7</div>
      <div class="ui-bg-white" style="height: 40px; width: 100px; float: left;">.ui-bg-white</div>
      <div class="ui-bg-black" style="height: 40px; width: 100px; float: left;">.ui-bg-black</div>
      <div class="ui-bg-body-bg" style="height: 40px; width: 100px; float: left;">.ui-bg-body-bg</div>
      <div style="clear: both;"></div>
      <h3>文字对齐</h3>
      <div style="clear: both;"></div>
      <div class="ui-bg-pink ui-text--center" style="margin-right: 10px;width: 200px;float: left;">ui-text--center</div>
      <div class="ui-bg-pink ui-text--left" style="margin-right: 10px;width: 200px;float: left;">ui-text--left</div>
      <div class="ui-bg-pink ui-text--right" style="margin-right: 10px;width: 200px;float: left;">ui-text--right</div>
      <div class="ui-bg-pink ui-text--justify" style="margin-right: 10px;width: 200px;float: left;">ui-text--justify</div>
      <div style="clear: both;"></div>
      <h3>文字修饰</h3>
      <div style="clear: both;"></div>
      <div class="ui-bg-pink ui-text--underline" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--underline</div>
      <div class="ui-bg-pink ui-text--overline" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--overline</div>
      <div class="ui-bg-pink ui-text--through" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--through</div>
      <div style="clear: both;"></div>
      <h3>文字省略(多行省略不能直接设置padding。可以包一层div)</h3>
      <div class="ui-bg-pink ui-text--ellipsis" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--ellipsis;填充文字填充文字</div>
      <div class="ui-bg-pink ui-text--ellipsis-2" style="max-height: 3em;padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--ellipsis;填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字</div>
      <div class="ui-bg-pink ui-text--ellipsis-3" style="max-height: 4.5em;padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--ellipsis;填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字</div>
      <div class="ui-bg-pink ui-text--ellipsis-3" style="max-height: 4.5em;padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--ellipsis;填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字填充文字</div>
      <div style="clear: both;"></div>
      <h3>文字断点</h3>
      <div class="ui-bg-pink ui-text--nowrap" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--nowrap;fill text fill text fill text fill text fill text </div>
      <div class="ui-bg-pink" style="padding:10px;margin-right: 10px;width: 200px;float: left;">默认fill text fill text fill text fill text fill text fill text fill text fill text </div>
      <div class="ui-bg-pink ui-text--break-word" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--ellipsis;fill text fill text fill text fill text fill text fill text fill text fill text </div>
      <div class="ui-bg-pink ui-text--break-all" style="padding:10px;margin-right: 10px;width: 200px;float: left;">ui-text--ellipsis;fill text fill text fill text fill text fill text fill text fill text fill text fill text </div>
      <div style="clear: both;"></div>

      <h3>全角/半角填充</h3>
      <div class="ui-bg-pink ui-text--center" style="width: 100px;">参考文字</div>
      半角填充四次对齐上方：<div class="ui-bg-pink ui-text--center" style="width: 100px;">姓<i class="ui-text--fill-half"></i><i class="ui-text--fill-half"></i><i class="ui-text--fill-half"></i><i class="ui-text--fill-half"></i>名</div>
      全角填充二次对齐上方：
      <div class="ui-bg-pink ui-text--center" style="width: 100px;">姓<i class="ui-text--fill"></i><i class="ui-text--fill"></i>名</div>

    </div>
  </body>
</html>
