<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="padding: 20px; min-height: 100vh;">
    <h6>表格总览</h6>

    <table class="ui-table ui-table--mini ui-table--striped" frame="box" rules="all">
      <thead>
        <td class="ui-fg-gold">标题一</td>
        <td>标题二</td>
        <td>标题三</td>
        <td>标题三</td>
      </thead>
      <tbody>
        <tr>
          <td>内容一一</td>
          <td>内容一二</td>
          <td>内容一二</td>
          <td>内容一三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
        <tr>
          <td>内容三一</td>
          <td>内容三二</td>
          <td>内容三二</td>
          <td>内容三三</td>
        </tr>
        <tr>
          <td>内容三一</td>
          <td>内容三二</td>
          <td>内容三二</td>
          <td>内容三三</td>
        </tr>
      </tbody>
    </table>
    <h6>默认</h6>
    <table class="ui-table">
      <thead>
        <td>标题一</td>
        <td>标题二</td>
        <td>标题三</td>
        <td>标题三</td>
      </thead>
      <tbody>
        <tr>
          <td>内容一一</td>
          <td>内容一二</td>
          <td>内容一二</td>
          <td>内容一三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
      </tbody>
    </table>
    <h6>边框</h6>
    <table class="ui-table" frame="box" rules="all">
      <thead>
        <td>标题一</td>
        <td>标题二</td>
        <td>标题三</td>
        <td>标题三</td>
      </thead>
      <tbody>
        <tr>
          <td>内容一一</td>
          <td>内容一二</td>
          <td>内容一二</td>
          <td>内容一三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
      </tbody>
    </table>
    <h6>迷你</h6>
    <div></div>
    <table class="ui-table ui-table--mini" frame="box" rules="all">
      <thead>
        <td>标题一</td>
        <td>标题二</td>
        <td>标题三</td>
        <td>标题三</td>
      </thead>
      <tbody>
        <tr>
          <td>内容一一</td>
          <td>内容一二</td>
          <td>内容一二</td>
          <td>内容一三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
      </tbody>
    </table>
    <h6>斑马</h6>
    <table class="ui-table ui-table--mini ui-table--striped" frame="box" rules="all">
      <thead>
        <td>标题一</td>
        <td>标题二</td>
        <td>标题三</td>
        <td>标题三</td>
      </thead>
      <tbody>
        <tr>
          <td>内容一一</td>
          <td>内容一二</td>
          <td>内容一二</td>
          <td>内容一三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
      </tbody>
    </table>
    <h6>单元格强制均分表格</h6>
    <table class="ui-table ui-table--fixed" frame="box" rules="all">
      <thead>
        <td>标题一</td>
        <td>标题二</td>
        <td>标题三</td>
        <td>标题三</td>
      </thead>
      <tbody>
        <tr>
          <td>内容一一内容一一内容一一内容一一内容一一内容一一内容一一</td>
          <td>内容一二</td>
          <td>内容一二</td>
          <td>内容一三</td>
        </tr>
        <tr>
          <td>内容二一</td>
          <td>内容二二</td>
          <td>内容二二</td>
          <td>内容二三</td>
        </tr>
      </tbody>
    </table>
    <h6>超出滚动</h6>
    <div class="ui-table-box" style="width: 500px;height: 300px;">
      <table class="ui-table" frame="box" rules="all">
        <thead>
          <td>标题一</td>
          <td>标题二</td>
          <td>标题三</td>
          <td>标题三</td>
        </thead>
        <tbody>
          <tr>
            <td>内容一一内容一一内容一一内容一一内容一一内容一一内容一一</td>
            <td>内容一二</td>
            <td>内容一二</td>
            <td>内容一三</td>
          </tr>
          <tr>
            <td>内容二一</td>
            <td>内容二二</td>
            <td>内容二二</td>
            <td>内容二三</td>
          </tr>
          <tr>
            <td>内容二一</td>
            <td>内容二二</td>
            <td>内容二二</td>
            <td>内容二三</td>
          </tr>
          <tr>
            <td>内容二一</td>
            <td>内容二二</td>
            <td>内容二二</td>
            <td>内容二三</td>
          </tr>
          <tr>
            <td>内容二一</td>
            <td>内容二二</td>
            <td>内容二二</td>
            <td>内容二三</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
