$main-bgc = #1E1D22
$border-color = #444
+layout(game-record)
  color #999

+layout(header)
  +element(tab)
    border-radius: $border-radius;
    background-color: rgba(255, 255, 255, 0.025);
    padding $size-sm
    height 100px
+el(button)
  background-image: linear-gradient(to right,#E1B47A, #E3CFAA);
  color $gradient-text-color
  padding-left $size-md
  padding-right $size-md

+layout(body)
  background-color: rgba(255, 255, 255, 0.025);

+el(table)
  border-color $border-color
  td
    padding $size-sm
    padding-left 0
    &:last-child
      padding-right 0


+el(picker)
  padding $size-xxs $size-xs
  border 1px solid $border-color
  background-color $main-bgc
  border-radius: $border-radius;

+el(page)
  min-width 1.5em
  text-align center
  margin-right 10px

  +modifier(active)
    background-color #EBBB74
    color $gradient-text-color

  &:hover
    background-color #ECD8BD
    color $gradient-text-color

+el(money)
  color #E1B47A
