<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="layout-game-record ui-pd--lg">
      <div class="layout-header ui-row ui-row--middle">
        <div class="ui-col ui-mg--right-sm">日期范围</div>
        <div class="ui-col ui-mg--right-sm el-picker">2020-01-22 00:00</div>
        <div class="ui-col ui-mg--right-sm">至</div>
        <div class="ui-col ui-mg--right-sm el-picker">2020-01-22 00:00</div>
        <div class="ui-col ui-mg--right-sm">游戏平台</div>
        <div class="ui-col ui-mg--right-lg el-picker ui-text--center" style="width: 120px;">全部</div>
        <div class="ui-col ui-button ui-button--large el-button">查询</div>
      </div>
      <div class="layout-body ui-mg--top-lg ui-pd--x-sm">
        <table class="el-table ui-text--center" rules="rows">
          <thead>
            <tr>
              <td>时间</td>
              <td>平台</td>
              <td>游戏类型</td>
              <td>投注单号</td>
              <td>投注金额</td>
              <td>有效投注</td>
              <td>派彩金额</td>
              <td>备注</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>真人游戏</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
            </tr>
            <tr>
              <td>真人游戏</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>0.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="layout-pagenation ui-row ui-row--between ui-mg--top-lg">
        <div class="ui-col">
          <div class="ui-row">
            <button class="ui-col ui-button el-page"></button>
            <button class="ui-col ui-button el-page el-page--active">1</button>
            <button class="ui-col ui-button el-page">2</button>
            <button class="ui-col ui-button el-page">3</button>
            <button class="ui-col ui-button el-page">></button>
            <button class="ui-col ui-button el-page" style="background: none;" disabled>显示0到0，共0条记录</button>
          </div>
        </div>
        <div class="ui-col">
          <div class="ui-row ui-gap--sm">
            <div class="ui-col">
              <span>小计:</span>
              <span class="el-money">￥313233.65</span>
            </div>
            <div class="ui-col">
              <span>总计:</span>
              <span class="el-money">￥313233.65</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
