$spaceing(classname, prop)
  +namespace(classname)
    for item in $sizes
      $size = lookup("$size-" + item);

      +modifier(item)
        {prop}: $size;

      +modifier(x, item)
        {prop}-right: $size;
        {prop}-left: $size;

      +modifier(y, item)
        {prop}-top: $size;
        {prop}-bottom: $size;

      for dir in top left bottom right
        +modifier(dir, item)
          {prop}-{dir}: $size;

+namespace(row)
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 100%;
  background: var(--red);

  +modifier(center)
    justify-content: center;

  +modifier(left)
    justify-content: left;

  +modifier(right)
    justify-content: flex-end;

  +modifier(between)
    justify-content: space-between;

  +modifier(around)
    justify-content: space-around;

  +modifier(top)
    align-items: flex-start;

  +modifier(middle)
    align-items: center;

  +modifier(bottom)
    align-items: flex-end;

  +modifier(nowrap)
    flex-wrap: nowrap;

+namespace(col)
  for item in 1 .. $grid-count
    +modifier(item)
      width: tofixed(item);

+namespace(offset)
  for item in 1 .. $grid-count
    +modifier(item)
      margin-left: tofixed(item);

+namespace(gap)
  for item in $sizes
    $size = lookup("$size-" + item);

    +modifier(item)
      margin-right: -($size);
      margin-bottom: -($size);

      >
        +namespace(col)
          padding-right: $size;
          padding-bottom: $size;

+namespace(pull)
  +modifier(right)
    float: left;
    margin-left: auto;

  +modifier(right)
    float: right;
    margin-left: auto;

  +modifier(center)
    margin: auto;

  +modifier(top)
    margin-bottom: auto;

  +modifier(bottom)
    margin-top: auto;

  +modifier(center, y)
    margin: auto 0;

  +modifier(center, x)
    margin: 0 auto;

+namespace(at)
  +modifier(1)
    order: -3;

  +modifier(2)
    order: -2;

  +modifier(3)
    order: -1;

  +modifier("last")
    order: 999;

$spaceing(pd, padding);
$spaceing(mg, margin);

.clearfix:after
  display: table;
  clear: both;
  content: "";
