$text-decoration = {
  underline: underline,
  overline: overline,
  through: line-through
};

+namespace(font)
  for item in lighter normal bolder
    +modifier(item)
      font-weight: item;

+namespace(text)
  for item in left right center justify
    +modifier(item)
      text-align: item;

  +modifier(ellipsis)
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  +group()
    modifier(ellipsis, 2);
    modifier(ellipsis, 3);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 !important;

    &:before
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      box-sizing: border-box;
      padding-left: 3px;
      width: 1.5em;
      background-color: inherit;
      content: "...";

    &:after
      position: absolute;
      z-index: 2;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: inherit;
      content: "";

  for $k, $v in $text-decoration
    +modifier($k)
      text-decoration: $v;

  +modifier(nowrap)
    white-space: nowrap;

  +modifier(break, word)
    word-break: break-word;

  +modifier(break, all)
    word-break: break-all;

  +modifier(fill, half)
    &:before
      content: "\2002";
      speak: none;

  +modifier(fill)
    &:before
      content: "\2003";
      speak: none;

+namespace(text)
  for item in top bottom middle baseline sup super
    +modifier(item)
      vertical-align: item;

h1
.h1
  font-size: $font-size-h1;

h2
.h2
  font-size: $font-size-h2;

h3
.h3
  font-size: $font-size-h3;

h4
.h4
  font-size: $font-size-h4;

h5
.h5
  font-size: $font-size-h5;

h6
.h6
  font-size: $font-size-h6;
