+namespace(table)
  border-color: $color-bg-6;
  border-radius: $radius;
  background-color: $table-bgc;
  text-align: center;

  thead
    background-color: $table-header-bgc;
    color: $color-gray-1;

  tbody
    color: $color-gray-2;

  td
  th
    padding: $size-sm $size-xxs;
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    border-color: $color-bg-6;
  tbody
    tr
      transition: background-color 0.4s;

      &:hover
        background-color: $table-hover-color;

  +modifier(mini)
    td
    th
      padding: $size-xs $size-xxs;
      font-size: 0.8em;

  +modifier(fixed)
    table-layout: fixed;

  +modifier(striped)
    >tbody>tr:nth-child(2n)
      background-color: $table-striped-color;

  +element(actived)
    background-color: $table-actived-color;

  +element(header)
    background-color: $table-header-bgc;

+namespace(table-box)
  overflow auto
  white-space nowrap !important
  >table
    width auto
    min-width 100%
