<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="padding: 20px; min-height: 100vh;">
    <div>
      <label class="ui-switch">
        <input type="checkbox" />
        <div class="ui-switch__thumb"></div>
      </label>
      <label class="ui-checkbox" style="color: green;">
        <input type="checkbox" name="" value="" checked />
          13
      </label>
    </div>
  </body>
</html>
