<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="ui-row ui-row--center ui-row--top ui-gap ui-row--nowrap">
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
    </div>
    <div class="ui-row ui-row--center ui-row--bottom ui-gap" style="height: 200px;">
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
    </div>
    <div class="ui-row ui-row--right ui-row--bottom ui-gap">
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
    </div>
    <div class="ui-row ui-row--between ui-gap">
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
    </div>

    <div class="ui-row ui-row--around ui-gap">
      <p class="ui-col" style="background-color: rebeccapurple;">121</p>
    </div>
  </body>
</html>
